button {
  margin-top: 5%;
  width: 150px;
  padding: 10px;
  background-color: #248046;
  color: white;
}
body {
  background-color: #313338;
  text-align: center;
  color: aliceblue;
  font-family: sans-serif;
  margin: 100px;
}
.url_input {
  margin-top: 20%;
}
input {
  background-color: #1e1f22;
  color: white;
  width: 500px;
  padding: 10px 10px 15px;
  border: none;
  margin-top: 1%;
}
